<div class="row">
  <div class="col-sm-2">
    <h2>Author</h2>
  </div>
  <div class="col-sm-8">
    <h2>Quote</h2>
  </div>
  <div class="col-sm-2">
    <h2>Action</h2>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-2">
    <h4><%= @quote.author.titleize %></h4>
  </div>
  <div class="col-sm-8">
    <h4><%= @quote.body %></h4>
  </div>
  <div class="col-sm-1">
    <%= link_to "Edit", edit_quote_path(@quote), class: "btn btn-warning btn-xs" %>
  </div>
  <div class="col-sm-1">
    <%= link_to "Delete", quote_path(@quote), method: :delete, data: {confirm: "This is final, it WILL be erased..."}, class: "btn btn-danger btn-xs" %>
  </div>
</div>
