<h5>Showing all API Keys</h5>
<div class="row">
  <div class="col-sm-2">
    <h2>For</h2>
  </div>
  <div class="col-sm-5">
    <h2>Key</h2>
  </div>
  <div class="col-sm-3">
    <h2>Number of Requests</h2>
  </div>
  <div class="col-sm-2">
    <h2>Action</h2>
  </div>
</div>
<hr>
<% @apikeys.each do |q| %>
<div class="row">
  <div class="col-sm-2">
    <h4><%= q.for %></h4>
  </div>
  <div class="col-sm-5">
    <p><%= q.key %></p>
  </div>
  <div class="col-sm-3">
    <h4><%= q.counter %></h4>
  </div>
  <div class="col-sm-2">
    <%= link_to "Delete", apikey_path(q), method: :delete, data: {confirm: "This is final, it WILL be erased..."}, class: "btn btn-danger btn-xs" %>
  </div>
</div>
<hr>
<% end  %>
